/*SIDEBAR*/
.side-bar{
    height: 50em;
    border: 1px solid #1C781A; 
}

/*h1*/
h1{
font-size: 40px;
    color: #0A1E12;
    padding-top: 0.5em;;
    padding-left: 7%;
}
h1:hover{
    text-decoration: underline;
}
.logo{
    width: 80%;
    height: 7em;
    background-color: #18A422;
    margin-bottom: 10em;
    box-shadow:  3px 3px 5px 6px #1C781A; 
}
/*sign up form*/
#register{
    display: none;
    
}
#enter{
    display: none;
}
/*MID*/
.mid{
    padding-top: 10em;
}




/*chat box*/
.mess{
    height: 15em;
    width: 100%;
}
.chat-box input{
    margin-left: 25%;
}