/*gen styles*/

/*HEADER*/
header{
background:white;
    padding: 3vh;
    
}
/*title*/
h1{
    text-align: center;
}

/*nav*/

.nav{
    margin-left:  20%;
}
.nav a{
    margin-left: 5%;
}

/*banner*/
.banner{
    height:  60vh;
    background:  grey;
}