/*gen styles*/
body{
    overflow-x:hidden;
}
.empty-edge{
/*    empty div occupying the edge of a section*/
}
.split{
    height: 2px;
    background:#B6B6B6;
}

/*HEADER*/
header{
    padding-top:  2vh;
    background: whitesmoke;
}

/*title*/
.title{
    
    
}
.title h1{
    margin-left:  40%;
    border-right: 1px solid grey;
    font-size:  25px;
}
/*nav*/
.nav{
    font-size:  15px;
    padding-top: px;
}

/*cart*/
.cart img{
    margin-left:  50%;
    height: 30px;
    width: 30px;
}

/*banner*/
.banner{
    background: #B6B6B6;
    height: 40vh;
    
}
.banner-message{
margin-left: 15%;
    margin-top: 5%;
}

/*PRODUCT*/
.product{
    padding-top: 10vh;
    background: whitesmoke;
}
h3{
    text-align: center;
    margin-top: 2vh;
}
/*products container*/
figure{
    height:  55vh;
    width: 30vh;
    border:1px solid black;
    margin: 1.5%;;
}


/*latest products*/
.latest{
    margin-top: 5vh;
}
/*popular products*/

.popular{
    margin-top: 5vh;
}

/*INFO*/
.info{
    padding-top:2vh;
    height: 50vh;
}
h4{
    text-align: center;
}

.store{
    padding:  5%;
    margin: 1.5%;
}
 .content{
    margin-left: 8%;
}
/*our store*/
.store-info {
  
    
}
/*blog*/
.store-blog a{
      font-style: italic;
    font-size: 20px;
}
.store-blog p{
    padding-left:  15px;
}
/*support*/


/*FOOTER*/