    /*
    Flaticon icon font: Flaticon
    Creation date: 05/03/2017 10:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-rainy:before { content: "\f100"; }
.flaticon-002-woman-12:before { content: "\f101"; }
.flaticon-003-summer:before { content: "\f102"; }
.flaticon-004-man-7:before { content: "\f103"; }
.flaticon-005-women-4:before { content: "\f104"; }
.flaticon-006-suitcase:before { content: "\f105"; }
.flaticon-007-woman-11:before { content: "\f106"; }
.flaticon-008-woman-10:before { content: "\f107"; }
.flaticon-009-women-3:before { content: "\f108"; }
.flaticon-010-cold-2:before { content: "\f109"; }
.flaticon-011-fashion-13:before { content: "\f10a"; }
.flaticon-012-woman-9:before { content: "\f10b"; }
.flaticon-013-fashion-12:before { content: "\f10c"; }
.flaticon-014-vintage:before { content: "\f10d"; }
.flaticon-015-fashion-11:before { content: "\f10e"; }
.flaticon-016-man-6:before { content: "\f10f"; }
.flaticon-017-woman-8:before { content: "\f110"; }
.flaticon-018-women-2:before { content: "\f111"; }
.flaticon-019-fashion-10:before { content: "\f112"; }
.flaticon-020-woman-7:before { content: "\f113"; }
.flaticon-021-man-5:before { content: "\f114"; }
.flaticon-022-man-4:before { content: "\f115"; }
.flaticon-023-woman-6:before { content: "\f116"; }
.flaticon-024-fashion-9:before { content: "\f117"; }
.flaticon-025-man-3:before { content: "\f118"; }
.flaticon-026-woman-5:before { content: "\f119"; }
.flaticon-027-clock:before { content: "\f11a"; }
.flaticon-028-woman-4:before { content: "\f11b"; }
.flaticon-029-woman-3:before { content: "\f11c"; }
.flaticon-030-woman-2:before { content: "\f11d"; }
.flaticon-031-fashion-8:before { content: "\f11e"; }
.flaticon-032-women-1:before { content: "\f11f"; }
.flaticon-033-luxury:before { content: "\f120"; }
.flaticon-034-fashion-7:before { content: "\f121"; }
.flaticon-035-women:before { content: "\f122"; }
.flaticon-036-woman-1:before { content: "\f123"; }
.flaticon-037-cold-1:before { content: "\f124"; }
.flaticon-038-fashion-6:before { content: "\f125"; }
.flaticon-039-circle:before { content: "\f126"; }
.flaticon-040-fashion-5:before { content: "\f127"; }
.flaticon-041-fashion-4:before { content: "\f128"; }
.flaticon-042-cold:before { content: "\f129"; }
.flaticon-043-woman:before { content: "\f12a"; }
.flaticon-044-fashion-3:before { content: "\f12b"; }
.flaticon-045-fashion-2:before { content: "\f12c"; }
.flaticon-046-fashion-1:before { content: "\f12d"; }
.flaticon-047-man-2:before { content: "\f12e"; }
.flaticon-048-man-1:before { content: "\f12f"; }
.flaticon-049-fashion:before { content: "\f130"; }
.flaticon-050-man:before { content: "\f131"; }
    
    $font-Flaticon-001-rainy: "\f100";
    $font-Flaticon-002-woman-12: "\f101";
    $font-Flaticon-003-summer: "\f102";
    $font-Flaticon-004-man-7: "\f103";
    $font-Flaticon-005-women-4: "\f104";
    $font-Flaticon-006-suitcase: "\f105";
    $font-Flaticon-007-woman-11: "\f106";
    $font-Flaticon-008-woman-10: "\f107";
    $font-Flaticon-009-women-3: "\f108";
    $font-Flaticon-010-cold-2: "\f109";
    $font-Flaticon-011-fashion-13: "\f10a";
    $font-Flaticon-012-woman-9: "\f10b";
    $font-Flaticon-013-fashion-12: "\f10c";
    $font-Flaticon-014-vintage: "\f10d";
    $font-Flaticon-015-fashion-11: "\f10e";
    $font-Flaticon-016-man-6: "\f10f";
    $font-Flaticon-017-woman-8: "\f110";
    $font-Flaticon-018-women-2: "\f111";
    $font-Flaticon-019-fashion-10: "\f112";
    $font-Flaticon-020-woman-7: "\f113";
    $font-Flaticon-021-man-5: "\f114";
    $font-Flaticon-022-man-4: "\f115";
    $font-Flaticon-023-woman-6: "\f116";
    $font-Flaticon-024-fashion-9: "\f117";
    $font-Flaticon-025-man-3: "\f118";
    $font-Flaticon-026-woman-5: "\f119";
    $font-Flaticon-027-clock: "\f11a";
    $font-Flaticon-028-woman-4: "\f11b";
    $font-Flaticon-029-woman-3: "\f11c";
    $font-Flaticon-030-woman-2: "\f11d";
    $font-Flaticon-031-fashion-8: "\f11e";
    $font-Flaticon-032-women-1: "\f11f";
    $font-Flaticon-033-luxury: "\f120";
    $font-Flaticon-034-fashion-7: "\f121";
    $font-Flaticon-035-women: "\f122";
    $font-Flaticon-036-woman-1: "\f123";
    $font-Flaticon-037-cold-1: "\f124";
    $font-Flaticon-038-fashion-6: "\f125";
    $font-Flaticon-039-circle: "\f126";
    $font-Flaticon-040-fashion-5: "\f127";
    $font-Flaticon-041-fashion-4: "\f128";
    $font-Flaticon-042-cold: "\f129";
    $font-Flaticon-043-woman: "\f12a";
    $font-Flaticon-044-fashion-3: "\f12b";
    $font-Flaticon-045-fashion-2: "\f12c";
    $font-Flaticon-046-fashion-1: "\f12d";
    $font-Flaticon-047-man-2: "\f12e";
    $font-Flaticon-048-man-1: "\f12f";
    $font-Flaticon-049-fashion: "\f130";
    $font-Flaticon-050-man: "\f131";